<table border="5" cellpadding="5" width="520" bordercolor="#FF7E00" bgColor=#ffffc0>
	<form method=post action="/namematch">
		<tr>
			<td align=center>男生名字：
				<INPUT TYPE="text" NAME="name_b" SIZE=10 MAXLENGTH=4 VALUE="">
				<br>女生名字：
				<INPUT TYPE="text" NAME="name_g" SIZE=10 MAXLENGTH=4 VALUE="">
				<p>
					<center>
						<input TYPE="SUBMIT" VALUE=" 確  定 ">
					</center>
				</p>
			</td>
		</tr>
	</form>
</table>